@page
@model LoginFuzzy.Pages._LogoutModel
@{
    Layout = null;
}

<div class="row">
    <form method="post">
         <div class="col-md-12">
            <div class="centrado">
                <h5>¿Desea cerrar sesión?</h5>
            </div>
            <p/>
            <div class="row justify-content-between">
                <div class="col-6">
                    <button class="btn btn-primary border-dark col-12" asp-page-handler="Logout">Sí</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-light border-dark col-12" onclick="closePopup()" type="button">No</button>
                </div>
            </div>
        </div>   
    </form>
</div>